* {
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #000;
    --secondary-color: #fff;
  }
  html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
  }
  html.dark {
    background-color: #000;
    color: var(--primary-color);
  }
  
  html {
    transition: all 0.5s ease-in;
  }
  
  body {
    font-family: 'Heebo', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

  .form{
      margin: 0 2rem;
  }

  input {
    background: rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 20px;
    margin-top: 1rem;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
  }
  
  .btn {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 1rem 7rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn:focus {
    outline: none;
  }

  .highlighted-text{
      margin: 5rem 2rem;
  }

  @media only screen and (min-width: 600px){
      .btn{
          margin: 1rem 9.5rem;
      }
  }
  
  